.icon {
  width: 30px;
  height: 30px;
  position: relative;
  top: 2px;
  cursor: pointer;
  color: var(--orange);
  transition: color 0.1s ease-out;
  -webkit-transition: color 0.1s ease-out;
  -moz-transition: color 0.1s ease-out;
  -ms-transition: color 0.1s ease-out;
  -o-transition: color 0.1s ease-out;
}
.icon:hover {
  color: hsl(18, 100%, 40%);
}
