.container {
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.spanElement {
  content: '';
  position: absolute;
  width: 100%;
  height: 2.8rem;
  background-color: #333;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  cursor: default;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
  cursor: pointer;
}
.container:hover .spanElement {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
