*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: #46a2fd;
  --orange: #ff5c15;
}
html {
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}
main {
  min-height: 100vh;
}
